extends layout

block body
    div(ng-controller='AppCtrl')
        div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            div.container
                div.navbar-header
                    a.navbar-brand(href='welcome') Project Name
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='problems') Problem List

        div.container(ng-view, role='main')

block footer
    div.navbar.navbar-fixed-bottom
        div.container
            p.text-muted #{content} on #{time}

